.navbar {
  padding: 2rem 3rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  padding: 0 1rem;
  color: #fff;
  font-weight: 100;
}

.scrolled {
  background: #44c2c1;
}

.btn-rsvp {
  border: 1px solid #fff;
  color: #fff !important;
  font-family: 'Public Sans', sans-serif;
  font-weight: 100 !important;
  padding: 1rem 2rem !important;
}

.btn-rsvp:hover {
  color: #000 !important;
}

.logo {
  width: auto;
  height: 2.5rem;
}
